# preparedot
# movedot
# restoredot
/*


/.config/*
# /.config/nvim/*
# /.config/nvim/lua/*
# /.config/nvim/lua/plugins/*
# /.config/nvim/lua/plugins/configs/*


!/.config/
!/.config/snippets
!/.config/snippets/*
!/.config/nvim
!/.config/nvim/*
!/.config/nvim/lua
!/.config/nvim/lua/*
!/.config/nvim/lua/custom
!/.config/nvim/lua/custom/*

# Zsh configurations
!/.zshrc
!/.p10k.zsh

# Tmux configuration
!/.tmux.conf

# Exclude oh-my-zsh installation (can be reinstalled)
.oh-my-zsh

**/.git2
**/.github2
**/.gitignore2

!/.config/alacritty
!/.config/i3
!/.config/gtk-3.0
!/.config/gtk-3.0/settings.ini
!/.config/silicon
!/.config/emoji
!/.config/fontconfig
!/.bashrc
!/.fonts
!/.config/install.sh

!/.local
/.local/*
!/.local/bin
/.local/bin/*
!/.local/bin
!/.local/bin/nvim.appimage
!/.gitignore
!/.git
!/script.sh


!/.install.sh
!/.folders.sh
!/deploy.sh
!/.snippets
!/.config/.snippets
!/.config/cordova
!/.config/cordova/*
!/.config/.snippets/*
!/.snippets/*
!/README.md

# Docker
!/docker
!/docker/*
!/docker/example
!/docker/example/*
